/* 
/* || Bugfixes
*/

/* #590: Topbar visibility bug */
.main-topBar-topbarContent:not(.main-topBar-topbarContentFadeIn)>* {
	opacity: unset !important;
}
.main-entityHeader-topbarContent:not(.main-entityHeader-topbarContentFadeIn)>* {
	opacity: 0 !important;
}

/* 
/* || Better stolen than badly conceived
*/

/* What does this do? */
.connect-title, .connect-header {
	display: none;
}

/* 
/* || Clean Home
*/

/* Home - Hide "shortcuts" */
section[data-testid="home-page"] > div > div > section:nth-child(1) {
	display: none !important;
}

/* Home - Hide second row (podcasts - for now) */
section[data-testid="home-page"] > div > div > section:nth-child(2) {
	display: none !important;
}

/* 
/* || Density - make everything more dense, show more content
*/

/* || Home */
div.contentSpacing {
	grid-gap: 0px;
	padding-top: 0px;
}

/* || Track List */
div[role="presentation"] > div[role="row"] > div[role="presentation"] {
	height: 42px;
}

/* Spotify devs be like "screw you and your classes" between two minor releases */

/* Main -> Row -> Tile -> Album image */
div > section > div > div > section > div > div > div > div > div > div > img {
	margin-bottom: 8px;
}

div > section > div > div > section > div > div {
	padding: 6px;
}

div > section > div > div > section > div {
	--minimumColumnWidth: 150px !important;
	grid-gap: 10px !important;
}

/* || Playlist header */
div > section[role="presentation"] > div.nth-child(1) {
    height: 30vh;
    max-height: 450px;
    min-height: 300px;
}

/* || Search page */
div._5aac821edb25f0e281f50522021abbe4-scss {
	--minimumColumnWidth: 150px !important;
	grid-gap: 10px !important;
}

/* Style "Your top genres" just like "Browse all" below it */
section._6695fd91ea13e90d9b9d54584c048547-scss div._5aac821edb25f0e281f50522021abbe4-scss {
	--column-width: 162px !important;
}

	a.c5a28c705b992b76c45dbb776cf76047-scss {
		height: 162px;
		grid-column: span 1;
	}

	h3.fbe9fd01f8ae7354e9082a5816a3300c-scss {
		font-size: 24px;
	}
